@media print{
	#Input, #navbar{
		display: none;
	}
	#Results{
		display: block;
	}
}

@font-face {
	font-family: OneFont;
	src: url("./MuseoSans_500.otf");
}
body{
	/*background-image: url("./ROG Time square.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	font-family: OneFont;
	font-size: medium;
}
#navbar{
	height: 4em;
	width: 100%;
	position: fixed;
	background-color: black;
	z-index: 100;
}
#logo{
	height: 4em;
	float: left;
	padding: 1em;
	background-color: black;
}
#navbar a{
	color: white;
	cursor: pointer;
	float: left;
	padding: 1.3em 1em;
}
#navbar a.active, #navbar a:hover{
	color: #c4a95f;
	text-decoration: none;
}
#main-container{
	margin: 0 2em;
	padding: 4em 1em 1em 1em;
	/*background-color: rgba(255,255,255,0.85);
	box-shadow: 5px 5px 10px black;*/
}

.fright{
	text-align: right;
}

input[type=radio]{
	width: initial;
	margin: 10px 5px 0 0;
}
#IncomeBracket, #FilingRel{
	margin: 0;
}
input[type=checkbox]{
	width: initial;
	margin: 0;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.divider-text{
	text-align: center;
}

#ResultsButtons{
	text-align: center;
}
#SnapshotTable td{
	padding: 5px;
}
#SnapshotTable td:nth-child(odd){
	text-align: right;
}

.cpointer:hover{
	cursor: pointer;
}

#Compare{
	margin-top: 3em;
}