@media print{
	#Input{
		display: none;
	}
	#Results{
		display: block;
	}
}
.fright{
	text-align: right;
}
#form-button-container{
	text-align: center;
}
#form-button-container button{
	margin: 0 5px;
}
input{
	width: 100%;
}
input[type=radio]{
	width: initial;
	margin: 10px 5px 0 0;
}
input[type=checkbox]{
	margin-top: 10px;
	width: initial;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.text-divider{
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, transparent, #555, transparent);
}
.divider-text{
	position: relative;
	top: -35px;
	text-align: center;
	background-color: white;
	display: block;
	width: 225px;
	margin: 0 auto;
}
.text-divider-container{
	position: relative;
	top: 15px;
}
#ResultsButtons{
	text-align: center;
}
#SnapshotTable td{
	padding: 5px;
}
#SnapshotTable td:nth-child(odd){
	text-align: right;
}