<!DOCTYPE html>
<!-- open file -->
<html lang="en-US">
	<!-- open header -->
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
		<title>Home Purchase Calculator</title>
		<link rel="icon" href="RegularIcon.png"></link>
		<link rel="stylesheet" href="hpcStyle.css"></link>
		<script src="chartScript.js"></script>
		<script src="hpcScript.js"></script>
	</head>
	<!-- close header -->
	<!-- open body -->
	<body>
		<!-- main container -->
		<div id="main-container">			
			<!-- input form -->
			<div id="input-form" ng-app="myApp" ng-controller="myCtrl">
				<!-- panel -->
				<div id="Input" class="panel panel-primary noPrint">
					<!-- panel head -->
					<div class="panel-heading">
						<h2>Home Purchase Calculator</h2>
					</div>
					
					<!-- panel body -->
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Basic Information</h3>
							</div>
						
							<div class="form-group">
								<label class="control-label col-sm-6" for="PropertyAddress">Property Address:</label>
								<div class="col-sm-6">
									<input id="PropertyAddress" ng-model="address" type="text" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="PurchasePrice">Purchase Price:</label>
								<div class="col-sm-6">
									<input id="PurchasePrice" ng-model="price" ng-change="myonchange()" type="number" min="0" required />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="DownPayment">Down Payment:</label>
								<div class="col-sm-6">
									<input id="DownPayment" ng-model="downpayment" ng-change="myonchange()" type="number" min="0" required />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="TermLength">Loan Term (Years):</label>
								<div class="col-sm-6">
									<input id="TermLength" ng-model="loanterm" ng-change="myonchange()" type="radio" ng-value="30">30</input>
									<input id="TermLength" ng-model="loanterm" ng-change="myonchange()" type="radio" ng-value="25">25</input>
									<input id="TermLength" ng-model="loanterm" ng-change="myonchange()" type="radio" ng-value="20">20</input>
									<input id="TermLength" ng-model="loanterm" ng-change="myonchange()" type="radio" ng-value="15">15</input>
									<input id="TermLength" ng-model="loanterm" ng-change="myonchange()" type="radio" ng-value="10">10</input>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="InterestRate">Interest Rate (APR):</label>
								<div class="col-sm-6">
									<input id="InterestRate" ng-model="interestrate" ng-change="myonchange()" type="range" min="0.02" max="0.15" step="0.001" />
									<span ng-bind="interestrate * 100 | number:1"></span><span>%</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Taxes">Property Taxes (Yearly):</label>
								<div class="col-sm-6">
									<input id="Taxes" ng-model="taxes" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Closing Costs</h3>
							</div>
							
							<div class="form-group" style="text-align: center;">
								<a href="https://www.cohenclosing.com/quotecalculator">
									<p>
										<span class="glyphicon glyphicon-info-sign"></span>
										Calculate your closing costs here!
									</p>
								</a>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Settlement">Settlement Fee:</label>
								<div class="col-sm-6">
									<input id="Settlement" ng-model="settlement" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="LenderTitle">Lender Title Insurance:</label>
								<div class="col-sm-6">
									<input id="LenterTitle" ng-model="lendertitle" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="RecordingDeed">Deed Recordation Fee:</label>
								<div class="col-sm-6">
									<input id="RecordingDeed" ng-model="deed" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="RecordingMortgage">Mortgage Recordation Fee:</label>
								<div class="col-sm-6">
									<input id="RecordingMortgage" ng-model="mortgage" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="TransferTax">Transfer Tax:</label>
								<div class="col-sm-6">
									<input id="TransferTax" ng-model="transfertax" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="TitleInsurance">Title Insurance:</label>
								<div class="col-sm-6">
									<input id="TitleInsurance" ng-model="titleinsurance" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Operation Costs</h3>
							</div>
							
							<div class="form-group" style="text-align: center;">
								<a href="https://www.sofi.com/cost-of-living-in-new-hampshire/">
									<p>
										<span class="glyphicon glyphicon-info-sign"></span>
										Calculate your operation costs here!
									</p>
								</a>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="HomeInsurance">Home Insurance:</label>
								<div class="col-sm-6">
									<input id="HomeInsurance" ng-model="insurance" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Heat">Heating:</label>
								<div class="col-sm-6">
									<input id="Heat" ng-model="heat" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Electricity">Electric:</label>
								<div class="col-sm-6">
									<input id="Electricity" ng-model="electric" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Water">Water:</label>
								<div class="col-sm-6">
									<input id="Water" ng-model="water" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Wifi">Internet/Wifi:</label>
								<div class="col-sm-6">
									<input id="Wifi" ng-model="wifi" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Maintenance">Maintenance Savings:</label>
								<div class="col-sm-6">
									<input id="Maintenance" ng-model="maintenance" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Other</h3>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="SalvageValue">Resell Price:</label>
								<div class="col-sm-6">
									<input id="SalvageValue" ng-model="salvage" ng-change="myonchange()" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="DiscountRate">Discount Rate:</label>
								<div class="col-sm-6">
									<input id="DiscountRate" ng-model="discountrate" ng-change="myonchange()" type="range" min="0" max="0.15" step="0.001" />
									<span ng-bind="discountrate * 100 | number:1"></span><span>%</span>
								</div>
							</div>
							
							<div class="form-group">
								<div id="form-button-container">
									<button ng-click="example()" class="btn btn-info">Example</button>
									<button ng-click="clearform()" class="btn btn-danger">Reset</button>
									<button ng-click="toggleresults()" class="btn btn-success">Submit</button>
								</div>
							</div>
						</div>
					</div>
					<!-- close panel body -->
					
					<div class="panel-footer">
						<!-- credits -->
						<div>
							<img src="goldbg.jpeg" style="float:left; width: 120px; margin-right: 10px;" />
							<h3>Mark Comeau</h3>
							<p>Realty One Group Next Level</p>
							<p><a href="https://linktr.ee/SoldbyComeau">https://linktr.ee/SoldbyComeau</a></p>
							<p>265 S River Road</p>
							<p>Bedford, NH 03110</p>
							<p>mobile: (603) 370-7806 | office: (888) 888-SOLD</p>
						</div>
					</div>
				</div>
				<!-- close panel -->
				
				<!-- async results -->
				<div id="Results" class="panel panel-success" style="display: none;">
					<!-- title -->
					<div class="panel-heading">
						<h2>Home Purchase Calculator</h2>
						<!-- navigation buttons -->
						<div id="ResultsButtons">
							<button ng-click="toggleresults()" class="btn" title="Edit">
								<span class="glyphicon glyphicon-edit" />
							</button>
							<button onclick="window.print()" class="btn" title="Save">
								<span class="glyphicon glyphicon-save" />
							</button>
						</div>
						
						<!-- snapshot -->
						<table id="SnapshotTable">
							<tr>
								<td><h4>Address: </h4></td>
								<td><h4><i>{{address}}</i></h4></td>
							</tr>
							<tr>
								<td><h4>Purchase Price: </h4></td>
								<td><h4><i>${{price | number:2}}</i></h4></td>
							</tr>
							<tr ng-if="monthlypmt != 0">
								<td><h4>Loan Terms: </h4></td>
								<td><h4><i>${{price-downpayment | number:2}}, {{loanterm}} Years, {{interestrate*100}}% APY</i></h4></td>
							</tr>
							<tr ng-if="monthlypmt != 0">
								<td><h4>Monthly Loan Payment: </h4></td>
								<td><h4><i>${{monthlypmt | number:2}}</i></h4></td>
							</tr>
							<tr>
								<td><h4>Cash to Close: </h4></td>
								<td><h4><i>${{outputArray[0].total | number:2}}</i></h4></td>
							</tr>
						</table>
						
						<!-- credits -->
						<div>
							<img src="goldbg.jpeg" style="float:left; width: 120px; margin-right: 10px;" />
							<h3>Mark Comeau</h3>
							<p>Realty One Group Next Level</p>
							<p><a href="https://linktr.ee/SoldbyComeau">https://linktr.ee/SoldbyComeau</a></p>
							<p>265 S River Road</p>
							<p>Bedford, NH 03110</p>
							<p>mobile: (603) 370-7806 | office: (888) 888-SOLD</p>
						</div>
					</div>
					
					<!-- panel body -->
					<div class="panel-body">
						<!-- charts -->
						<div id="chartscontainer"></div>
						
						<!-- results table -->
						<table ng-model="results" class="table table-striped">
							<tr>
								<th>Year</th>
								<th class="fright">Cost</th>
								<th class="fright">Amount</th>
								<th class="fright">Subtotal</th>
								<th class="fright" ng-if="discountrate != 0">Discounted Cost</th>
								<th class="fright">Total Cost</th>
								<th class="fright">Equity</th>
							</tr>
							<!-- repeat for years of ownership -->
							<tr ng-repeat="x in outputArray">
								<td>{{x.year}}</td>
								<td class="fright">
									<ul>
										<li ng-repeat="cost in x.costs">{{cost.name}}</li>
									</ul>
								</td>
								<td class="fright">
									<ul>
										<li ng-repeat="cost in x.costs">${{cost.value | number:2}}</li>
									</ul>
								</td>
								<td class="fright">${{x.subtotal | number:2}}</td>
								<td class="fright" ng-if="discountrate != 0">${{x.disc | number:2}}</td>
								<td class="fright">${{x.total | number:2}}</td>
								<td class="fright">{{x.equity*100 | number:2}}%</td>
							</tr>
							<!-- final summation -->
							<tr>
								<td ng-if="discountrate != 0" colspan="5" style="color:#26c952;text-align:right;">SALE +$<span ng-bind="salvagedisc * 0.94 | number:2" /></td>
								<td ng-if="discountrate == 0" colspan="4" style="color:#26c952;text-align:right;">SALE +$<span ng-bind="salvagedisc * 0.94 | number:2" /></td>
								<th class="fright">${{totalcost - salvagedisc * 0.94 | number:2}}</th>
								<th class="fright">{{equity*100 | number:2}}%</th>
							</tr>
						</table>
					</div>
					<!-- close panel body -->
					
					<div class="panel-footer">
						<!-- credits -->
						<div>
							<img src="goldbg.jpeg" style="float:left; width: 120px; margin-right: 10px;" />
							<h3>Mark Comeau</h3>
							<p>Realty One Group Next Level</p>
							<p><a href="https://linktr.ee/SoldbyComeau">https://linktr.ee/SoldbyComeau</a></p>
							<p>265 S River Road</p>
							<p>Bedford, NH 03110</p>
							<p>mobile: (603) 370-7806 | office: (888) 888-SOLD</p>
						</div>
						<!-- disclaimer -->
						<p id="disclaimer">*Please note, all values are <i>estimates</i> and data presented should only be used as a referance.*</p>
					</div>
				</div>
				<!-- close results -->
			</div>
			<!-- close input form -->
		</div>
		<!-- close main container -->
	</body>
	<!-- close body -->
</html>
<!-- close file -->
