<!DOCTYPE html>
<!-- open file -->
<html lang="en-US">
	<!-- open header -->
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
		<title>Home Purchase Calculator</title>
		<link rel="icon" href="RegularIcon.png"></link>
		<link rel="stylesheet" href="hpcStyle.css"></link>
		<script src="chartScript.js"></script>
		<script src="hpcScript.js"></script>
	</head>
	<!-- close header -->
	<!-- open body -->
	<body>
		<!-- main container -->
		<div id="main-container">			
			<!-- input form -->
			<div id="input-form" ng-app="myApp" ng-controller="myCtrl">
				<!-- panel -->
				<div id="Input" class="panel panel-primary">
					<!-- panel head -->
					<div class="panel-heading">
						<h2>Home Purchase Calculator</h2>
					</div>
					
					<!-- panel body -->
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Basic Information</h3>
							</div>
						
							<div class="form-group">
								<label class="control-label col-sm-6" for="PropertyAddress">Property Address:</label>
								<div class="col-sm-6">
									<input id="PropertyAddress" ng-model="address" type="text" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="PurchasePrice">Purchase Price:</label>
								<div class="col-sm-6">
									<input id="PurchasePrice" ng-model="price" type="number" min="0" required />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="DownPayment">Down Payment:</label>
								<div class="col-sm-6">
									<input id="DownPayment" ng-model="downpayment" type="number" min="0" required />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="TermLength">Loan Term (Years):</label>
								<div class="col-sm-6">
									<input id="TermLength" ng-model="loanterm" type="radio" ng-value="30">30</input>
									<input id="TermLength" ng-model="loanterm" type="radio" ng-value="25">25</input>
									<input id="TermLength" ng-model="loanterm" type="radio" ng-value="20">20</input>
									<input id="TermLength" ng-model="loanterm" type="radio" ng-value="15">15</input>
									<input id="TermLength" ng-model="loanterm" type="radio" ng-value="10">10</input>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="InterestRate">Interest Rate (APR):</label>
								<div class="col-sm-6">
									<input id="InterestRate" ng-model="interestrate" type="range" min="0.02" max="0.15" step="0.001" />
									<span ng-bind="interestrate * 100 | number:1"></span><span>%</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Taxes">Property Taxes (Yearly):</label>
								<div class="col-sm-6">
									<input id="Taxes" ng-model="taxes" type="number" min="0" />
								</div>
							</div>
							
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Inspections</h3>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Building">General Building:</label>
								<div class="col-sm-6">
									<input id="Building" ng-model="building" type="checkbox" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Sewage">Sewage Disposal:</label>
								<div class="col-sm-6">
									<input id="Sewage" ng-model="sewage" type="checkbox" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="WaterInsp">Water Quality:</label>
								<div class="col-sm-6">
									<input id="WaterInsp" ng-model="waterinsp" type="checkbox" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="RadonAir">Radon Air Quality:</label>
								<div class="col-sm-6">
									<input id="RadonAir" ng-model="radonair" type="checkbox" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="RadonWater">Radon Water Quality:</label>
								<div class="col-sm-6">
									<input id="RadonWater" ng-model="radonwater" type="checkbox" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="LeadPaint">Lead Based Paint:</label>
								<div class="col-sm-6">
									<input id="LeadPaint" ng-model="leadpaint" type="checkbox" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Pests">Pests:</label>
								<div class="col-sm-6">
									<input id="Pests" ng-model="pests" type="checkbox" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="HazardousWaste">Hazardous Waste:</label>
								<div class="col-sm-6">
									<input id="HazardousWaste" ng-model="waste" type="checkbox" />
								</div>
							</div>
							
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Closing Costs</h3>
							</div>
							
							<div class="form-group" style="text-align: center;">
								<a href="https://www.cohenclosing.com/quotecalculator">
									<p>
										<span class="glyphicon glyphicon-info-sign"></span>
										Calculate your closing costs here!
									</p>
								</a>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="TitleInsurance">Title Insurance (Optional):</label>
								<div class="col-sm-6">
									<input id="TitleInsurance" ng-model="titleinsurance" type="number" min="0" />
								</div>
							</div>
							
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Operation Costs</h3>
							</div>
							
							<div class="form-group" style="text-align: center;">
								<a href="https://www.sofi.com/cost-of-living-in-new-hampshire/">
									<p>
										<span class="glyphicon glyphicon-info-sign"></span>
										Learn more about operation costs here!
									</p>
								</a>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="HomeInsurance">Home Insurance (Yearly):</label>
								<div class="col-sm-6">
									<input id="HomeInsurance" ng-model="insurance" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Heat">Heating (Yearly):</label>
								<div class="col-sm-6">
									<input id="Heat" ng-model="heat" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Electricity">Electric (Yearly):</label>
								<div class="col-sm-6">
									<input id="Electricity" ng-model="electric" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Water">Water (Yearly):</label>
								<div class="col-sm-6">
									<input id="Water" ng-model="water" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Wifi">Internet/Wifi (Yearly):</label>
								<div class="col-sm-6">
									<input id="Wifi" ng-model="wifi" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="Maintenance">Maintenance (Yearly):</label>
								<div class="col-sm-6">
									<input id="Maintenance" ng-model="maintenance" type="number" min="0" />
								</div>
							</div>
							
							<div class="text-divider-container form-group">
								<hr class="text-divider" />
								<h3 class="divider-text">Other</h3>
							</div>
							
							<div class="form-group" style="text-align: center;">
								<a href="https://www.nerdwallet.com/article/mortgages/tax-deductions-for-homeowners">
									<p>
										<span class="glyphicon glyphicon-info-sign"></span>
										Learn more about tax deductions here!
									</p>
								</a>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="IncomeBracket">Income Tax Bracket:</label>
								<div class="col-sm-6">
									<table class="table" style="margin-bottom: 0;">
										<tr>
											<th></th>
											<th><input id="TaxFilingRel" ng-model="filingrel" type="radio" ng-value="0">Single Filer</input></th>
											<th><input id="TaxFilingRel" ng-model="filingrel" type="radio" ng-value="1">Married, Filing Jointly</input></th>
										</tr>
										<tr>
											<td><input id="IncomeBracket" ng-model="taxbracket" type="radio" ng-value="0"></input></td>
											<td>[$0 – $10,275]</td>
											<td>[$0 – $20,550]</td>
										</tr>
										<tr>
											<td><input id="IncomeBracket" ng-model="taxbracket" type="radio" ng-value="1"></input></td>
											<td>[$10,276 – $41,775]</td>
											<td>[$20,551 – $83,550]</td>
										</tr>
										<tr>
											<td><input id="IncomeBracket" ng-model="taxbracket" type="radio" ng-value="2"></input></td>
											<td>[$41,776 – $89,075]</td>
											<td>[$83,551 – $178,150]</td>
										</tr>
										<tr>
											<td><input id="IncomeBracket" ng-model="taxbracket" type="radio" ng-value="3"></input></td>
											<td>[$89,076 – $170,050]</td>
											<td>[$178,151 – $340,100]</td>
										</tr>
										<tr>
											<td><input id="IncomeBracket" ng-model="taxbracket" type="radio" ng-value="4"></input></td>
											<td>[$170,051 – $215,950]</td>
											<td>[$340,101 – $431,900]</td>
										</tr>
										<tr>
											<td><input id="IncomeBracket" ng-model="taxbracket" type="radio" ng-value="5"></input></td>
											<td>[$215,951 – $539,900]</td>
											<td>[$431,901 – $647,850]</td>
										</tr>
										<tr>
											<td><input id="IncomeBracket" ng-model="taxbracket" type="radio" ng-value="6"></input></td>
											<td>[$539,901+]</td>
											<td>[$647,851+]</td>
										</tr>
									</table>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="TaxFilingType">Tax Filing Type:</label>
								<div class="col-sm-6">
									<input id="TaxFilingType" ng-model="filingtype" type="radio" ng-value="0">Standard Deduction</input>
									<input id="TaxFilingType" ng-model="filingtype" type="radio" ng-value="1">Itemized Deduction</input>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="SalvageValue">Resell Price:</label>
								<div class="col-sm-6">
									<input id="SalvageValue" ng-model="salvage" type="number" min="0" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-6" for="DiscountRate">Discount Rate:</label>
								<div class="col-sm-6">
									<input id="DiscountRate" ng-model="discountrate" type="range" min="0" max="0.15" step="0.001" />
									<span ng-bind="discountrate * 100 | number:1"></span><span>%</span>
								</div>
							</div>
							
							<div class="form-group">
								<div id="form-button-container">
									<button ng-click="example()" class="btn btn-info">Example</button>
									<button ng-click="clearform()" class="btn btn-danger">Reset</button>
									<button ng-click="toggleresults()" class="btn btn-success">Submit</button>
								</div>
							</div>
						</div>
					</div>
					<!-- close panel body -->
					
					<div class="panel-footer">
						<!-- credits -->
						<div>
							<img src="goldbg.jpeg" style="float:left; width: 120px; margin-right: 10px;" />
							<h3>Mark Comeau</h3>
							<p>Realty One Group Next Level</p>
							<p><a href="https://linktr.ee/SoldbyComeau">https://linktr.ee/SoldbyComeau</a></p>
							<p>265 S River Road</p>
							<p>Bedford, NH 03110</p>
							<p>m: (603) 370-7806 | o: (888) 888-SOLD</p>
						</div>
					</div>
				</div>
				<!-- close panel -->
				
				<!-- async results -->
				<div id="Results" class="panel panel-success" style="display: none;">
					<!-- title -->
					<div class="panel-heading">
						<h2>Home Purchase Calculator</h2>
						
						<!-- snapshot -->
						<table id="SnapshotTable">
							<tr>
								<td><h4>Address: </h4></td>
								<td><h4><i>{{address}}</i></h4></td>
							</tr>
							<tr>
								<td><h4>Purchase Price: </h4></td>
								<td><h4><i>${{price | number:2}}</i></h4></td>
							</tr>
							<tr ng-if="monthlypmt != 0">
								<td><h4>Loan Terms: </h4></td>
								<td><h4><i>${{price-downpayment | number:2}}, {{loanterm}} Years, {{interestrate*100}}% APR</i></h4></td>
							</tr>
							<tr ng-if="monthlypmt != 0">
								<td><h4>Monthly Loan Payment: </h4></td>
								<td><h4><i>${{monthlypmt | number:2}}</i></h4></td>
							</tr>
							<tr>
								<td><h4>Average Monthly Cost: </h4></td>
								<td><h4><i>${{ (outputArray[1].subtotal + outputArray[outputArray.length-1].subtotal) / 24 | number:2}}</i></h4></td>
							</tr>
							<tr>
								<td><h4>Cash to Close: </h4></td>
								<td><h4><i>${{outputArray[0].total | number:2}}</i></h4></td>
							</tr>
						</table>
						
						<!-- navigation buttons -->
						<div id="ResultsButtons">
							<button ng-click="toggleresults()" class="btn" title="Edit">Edit</button>
							<button onclick="window.print()" class="btn" title="Save">Save</button>
						</div>
						
						<!-- credits
						<div>
							<img src="goldbg.jpeg" style="float:left; width: 120px; margin-right: 10px;" />
							<h3>Mark Comeau</h3>
							<p>Realty One Group Next Level</p>
							<p><a href="https://linktr.ee/SoldbyComeau">https://linktr.ee/SoldbyComeau</a></p>
							<p>265 S River Road</p>
							<p>Bedford, NH 03110</p>
							<p>mobile: (603) 370-7806 | office: (888) 888-SOLD</p>
						</div> -->
					</div>
					
					<!-- panel body -->
					<div class="panel-body">
						<!-- charts -->
						<div id="chartscontainer"></div>
						
						<!-- results table -->
						<table ng-model="results" class="table table-striped">
							<caption><h3>Detailed Breakdown by Year</h3></caption>
							<tr>
								<th>Year</th>
								<th class="fright">Cost</th>
								<th class="fright">Amount</th>
								<th class="fright">Subtotal</th>
								<th class="fright" ng-if="discountrate != 0">Discounted Cost</th>
								<th class="fright">Total Cost</th>
								<th class="fright">Equity</th>
							</tr>
							<!-- repeat for years of ownership -->
							<tr ng-repeat="x in outputArray">
								<td>{{x.year}}</td>
								<td class="fright">
									<ul>
										<li ng-repeat="cost in x.costs">{{cost.name}}</li>
									</ul>
								</td>
								<td class="fright">
									<ul>
										<li ng-repeat="cost in x.costs">
											<span ng-if="cost.name == 'Tax Refund'">(</span>${{cost.value | number:2}}<span ng-if="cost.name == 'Tax Refund'">)</span>
										</li>
									</ul>
								</td>
								<td class="fright">${{x.subtotal | number:2}}</td>
								<td class="fright" ng-if="discountrate != 0">${{x.disc | number:2}}</td>
								<td class="fright">${{x.total | number:2}}</td>
								<td class="fright">{{x.equity*100 | number:2}}%</td>
							</tr>
							<!-- final summation -->
							<tr>
								<td ng-if="discountrate != 0 && salvage != 0" colspan="5" style="color:#26c952;text-align:right;">Home Sale ($<span ng-bind="salvagedisc * 0.94 | number:2"></span>)</td>
								<td ng-if="discountrate == 0 && salvage != 0" colspan="4" style="color:#26c952;text-align:right;">Home Sale ($<span ng-bind="salvagedisc * 0.94 | number:2"></span>)</td>
								<th ng-if="salvage != 0" class="fright">${{totalcost - salvagedisc * 0.94 | number:2}}</th>
								<th ng-if="salvage == 0" colspan="6" class="fright">${{totalcost - salvagedisc * 0.94 | number:2}}</th>
								<th class="fright">{{equity*100 | number:2}}%</th>
							</tr>
						</table>
						<!-- disclaimer -->
						<div id="disclaimer">
							<p>NOTE: These are <i>estimates</i>! Due to rounding error and other factors of your specific situation, real costs may differ from what is generated by this calculator.</p>
							<p>Should you require a more accurate model, please reach out! The creator's contact information can be found below.</p>
						</div>
					</div>
					<!-- close panel body -->
					
					<div class="panel-footer">
						<!-- credits -->
						<div>
							<img src="goldbg.jpeg" style="float:left; width: 120px; margin-right: 10px;" />
							<h3>Mark Comeau</h3>
							<p>Realty One Group Next Level</p>
							<p><a href="https://linktr.ee/SoldbyComeau">https://linktr.ee/SoldbyComeau</a></p>
							<p>265 S River Road</p>
							<p>Bedford, NH 03110</p>
							<p>m: (603) 370-7806 | o: (888) 888-SOLD</p>
						</div>
					</div>
				</div>
				<!-- close results -->
			</div>
			<!-- close input form -->
		</div>
		<!-- close main container -->
	</body>
	<!-- close body -->
</html>
<!-- close file -->